/***** basic rule *****/  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
    outline: none;
    border: none;
}
body{
    display: flex;
}
.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 65px;
    height: 100vh;
    padding: 0,1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgba(113, 99, 186, 255);
}
.sidebar:hover{
    width: 240px;
    transition:  0.5s ;
}
.logo{
    height: 80px;
    padding: 16px;
}
.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu li{
    padding: 1rem;
    margin:8px 0 ;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.menu li:hover,
.active{
    background:#E5CFF7;
}
.menu a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.menu a span{
    overflow: hidden;
    text-transform: capitalize;
}
.menu a i{
    font-size: 1.2rem;
}
.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
/***** End basic rule *****/
/***** main content Section *****/ 
.main-content{
    position: relative;
    background: #C1F2B0;
    width: 100%;
    padding: 1rem;
}
.header-wrapper img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FBF9F1;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}
.header-title{
    color:rgba(113, 99, 186, 255) ;
}
.user-info{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.search-box{
    background: rgb(237, 237, 237);
    border-radius: 15px;
    color: #EEE2DE;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
}
.search-box input{
    background: transparent;
    padding: 10px;
}
.search-box i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.search-box i:hover{
    transform: scale(1.2);
}
.header-title span,h2{
    text-transform: capitalize;
}
 /***** End main content Section *****/


 /***** card container Section *****/ 
.card-container{
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
} 
.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.main-title{
    color: rgba(113, 99, 186, 255);
    padding-bottom: 1rem;
    font-size: 1.4rem;
}
.payment-card{
    background: rgb(229, 223, 223);
    padding: 1.2rem;
    border-radius: 15px;
    width: 270px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}
.payment-card:hover{
    transform: translateY(-5px);
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.amount{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 14px;
    font-weight: 200;
}
.amount-value{
    font-size: 24px;
    font-family: serif,monospace;
    font-weight: 400;
}
.icon{
    color: #fff;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.2rem;
    background: red;
}
.span-card--detail{
    color: #777777;
letter-spacing: 2px;
font-size: 1.3rem;
}
/* css color */
.light-purple{
  background: rgb(190, 173, 250);
}
.light-red{
    background:rgb(255, 105, 105) ;
}
.light-green{
background: rgb(161, 238, 189);
}
.light-blue{
    background: rgb(161, 238, 189);
}
.dark-green{
background:darkgreen;
}
.dar-purple{
    background: purple;
}
  /***** End card container Section *****/
  /***** table Section *****/ 
  .tablar-wraper{
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
  }
  .table-container{
    width: 100%;
  }
  table{
    width: 100%;
    border-collapse: collapse;
  }
  thead{
    background: rgba(113, 99, 186, 255);
    color: #fff;
  }
  th{
    padding: 15px;
    text-align: left;
  }
  tbody{
    background: #E5CFF7;
  }
  td{
    padding: 15px;
    font-size: 14px;
    color: #333;
  }
  tr:nth-child(even) {
    background: #fff;
  }
  tfoot{
    background: rgba(113, 99, 186, 255);
    font-weight: bold;
    color: #fff;
  }
  tfoot td{
    padding: 15px;
    color: #fff;
  }
  .table-container button{
    color: green;
    cursor: pointer;
    background: none;
  }
   /***** End table Section *****/
  
 


